# Log files
*.log

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Applications
*.app
*.war
*.jar

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Project exclude paths
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

mvnw
mvnw.cmd